@import "./base/colors.scss";

.header {
    background: $blue;
    margin: 0;
    padding: 2rem;
    &__text {
        line-height: 2rem;
        margin: 0;
        text-align: center;
    }
    &__link {
        text-decoration: none;
        color: #fff;
    }
}