@import './colors.scss';

%menu-button {
    display: inline;
    background: $blue;
    padding: .5rem;
   
    &:hover {
        background: $light-blue;
        
    }
}

%menu-link {
    text-decoration: none;
    color: $white;
    &:hover{
        text-decoration: none;
        color: $white;
    }
}